@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Dosis:wght@200..800&family=Quicksand:wght@300..700&family=Roboto:wght@100;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

header .navbar-mio {
  width: min-content;
  display: flex;
  flex-direction: none;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(204, 170, 170);
  border-radius: 25px;
  box-shadow: 0px 0px 30px rgb(248, 248, 248);
  margin: 1rem;
  padding: auto;
  justify-self: center;
}
header .navbar-mio a {
  margin: 0 auto;
}
header .nav-mio {
  background-color: bisque;
  border: 1px solid rgb(204, 170, 170);
  border-radius: 20px;
  box-shadow: 0px 0px 30px rgb(248, 248, 248);
}
header .nav-mio .navegador-mio {
  justify-content: center;
}
header .nav-mio .navegador-mio a {
  align-self: center;
  font-weight: bold;
  font-size: 24px;
  margin: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(204, 170, 170);
  border-radius: 20px;
  box-shadow: 0px 0px 30px rgb(248, 248, 248);
  /*transiciones*/
  transition: transform 0.2s ease-in;
}
header .nav-mio .navegador-mio a:hover {
  transform: scale(1.2);
}
header .nav-mio .navegador-mio .pag-selec {
  background-color: brown;
  color: rgb(238, 229, 229);
}

main .titulo-reseña h1 {
  color: white;
  text-decoration: underline;
  text-align: center;
  margin: 4rem;
  padding: 0;
}
main .buscador-vuelos {
  background-color: rgb(43, 43, 56);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 50%;
  justify-self: center;
  margin: 3rem;
  padding: 2rem;
  border: 1px solid rgb(204, 170, 170);
  border-radius: 20px;
  box-shadow: 0px 0px 30px rgb(248, 248, 248);
  color: white;
}
main .buscador-vuelos h2 {
  margin: 2rem;
  justify-content: center;
  text-align: center;
  text-decoration: underline;
  color: white;
}
main .buscador-vuelos .card-vuelo ul {
  list-style-type: none;
}
main .buscador-vuelos .card-vuelo ul label, main .buscador-vuelos .card-vuelo ul input, main .buscador-vuelos .card-vuelo ul select {
  width: 200px;
  height: 30px;
  display: inline-block;
}
main .buscador-vuelos .btn-vuelo, main .buscador-vuelos .main-nosotros .formulario-mio .btn-formularios, .main-nosotros .formulario-mio main .buscador-vuelos .btn-formularios {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  padding: 0.5rem;
  border: 1px solid rgb(204, 170, 170);
  border-radius: 20px;
  box-shadow: none;
  color: aliceblue;
  background-color: black;
  justify-self: center;
}
main .img-principal {
  width: 300px;
  height: 300px;
}
main .section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: none;
  gap: 2rem;
}
main .section .principal-1, main .section .principal-3, main .section .principal-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(204, 170, 170);
  border-radius: 20px;
  box-shadow: 0px 0px 30px rgb(248, 248, 248);
  margin: 2rem;
  padding: 2rem;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: white;
  /*transiciones*/
  transition: transform 0.2s ease-in;
}
main .section .principal-1:hover, main .section .principal-2:hover, main .section .principal-3:hover {
  transform: scale(0.9);
}
main .section .principal-2:hover {
  transform: scale(0.9);
}
main .section .principal-3:hover {
  transform: scale(0.9);
}
@media (max-width: 768px) {
  main h1 {
    font-size: 18px;
  }
  main .buscador-vuelos {
    /* @include medidas(380px,400px);
     @include mar-padd(1rem,2rem );*/
  }
  main .buscador-vuelos h2 {
    font-size: 16px;
  }
  main .buscador-vuelos .card-vuelo ul li {
    font-size: 16px;
  }
  main .buscador-vuelos .btn-vuelo, main .buscador-vuelos .main-nosotros .formulario-mio .btn-formularios, .main-nosotros .formulario-mio main .buscador-vuelos .btn-formularios {
    margin: 2rem;
    padding: 0.5rem;
  }
  main .img-principal {
    width: 200px;
    height: 200px;
  }
  main .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .section .principal-1, main .section .principal-2, main .section .principal-3, main .section .principal-2, main .section .principal-3 {
    margin: 1rem;
    padding: 1rem;
    font-size: 16px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  main h1 {
    font-size: 24px;
  }
  main .buscador-vuelos {
    width: 450px;
    height: 450px;
    margin: 1.5rem;
    padding: 3rem;
  }
  main .buscador-vuelos h2 {
    font-size: 18px;
  }
  main .buscador-vuelos .card-vuelo ul li {
    font-size: 16px;
  }
  main .buscador-vuelos .btn-vuelo, main .buscador-vuelos .main-nosotros .formulario-mio .btn-formularios, .main-nosotros .formulario-mio main .buscador-vuelos .btn-formularios {
    margin: 2rem;
    padding: 0.5rem;
  }
  main .img-principal {
    width: 300px;
    height: 300px;
  }
  main .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  main .section .principal-1, main .section .principal-2, main .section .principal-3, main .section .principal-2, main .section .principal-3 {
    margin: 2rem;
    padding: 2rem;
    font-size: 18px;
  }
}

.img-HV {
  width: 250px;
  height: 200px;
  margin-top: 4rem;
}

.principal-cruceros .img-HV {
  width: 200px;
  height: 200px;
  margin-top: 4rem;
}
.principal-cruceros .titulo-ofertas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bolder;
  text-align: center;
}
.principal-cruceros .card-Hotel {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "card1 card1 " "card2 card2 " "card3 card3 ";
  gap: 2rem;
  margin-top: 3rem;
  justify-self: center;
}
.principal-cruceros .card-Hotel .card-indihotel-1, .principal-cruceros .card-Hotel .card-indihotel-3, .principal-cruceros .card-Hotel .card-indihotel-2 {
  color: white;
  font-size: 24px;
  width: 700px;
  height: 500px;
  border: 1px solid rgb(204, 170, 170);
  border-radius: 20px;
  box-shadow: 0px 0px 30px rgb(248, 248, 248);
  text-align: center;
  padding-top: 2rem;
  grid-area: card1;
  grid-column: 1/3;
  grid-row: 1/3;
}
.principal-cruceros .card-Hotel .card-indihotel-2 {
  grid-area: card2;
  grid-column: 2/4;
  grid-row: 2/4;
}
.principal-cruceros .card-Hotel .card-indihotel-3 {
  grid-area: card3;
  grid-column: 1/3;
  grid-row: 3/3;
}
.principal-cruceros .card-viajes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  justify-self: center;
  border: 1px solid rgb(204, 170, 170);
  border-radius: 20px;
  box-shadow: 0px 0px 30px rgb(248, 248, 248);
  margin-top: 5rem;
}
.principal-cruceros .card-viajes div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  padding: 0.5rem;
  width: 370px;
  height: 500px;
  border: 1px solid rgb(204, 170, 170);
  border-radius: 20px;
  box-shadow: 0px 0px 30px rgb(248, 248, 248);
  background-color: antiquewhite;
  text-align: center;
  transition: transform 0.3s ease-in;
}
.principal-cruceros .card-viajes div h2 {
  font-size: 18px;
}
.principal-cruceros .card-viajes div p {
  font-size: 18px;
}
.principal-cruceros .card-viajes div img {
  margin: 0.5rem;
}
.principal-cruceros .card-viajes div:hover {
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .principal-cruceros .titulo-ofertas {
    font-size: 16px;
    font-weight: bolder;
  }
  .principal-cruceros .card-Hotel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .principal-cruceros .card-Hotel .card-indihotel-1, .principal-cruceros .card-Hotel .card-indihotel-2, .principal-cruceros .card-Hotel .card-indihotel-3 {
    width: 380px;
    height: 400px;
    font-size: 16px;
  }
  .principal-cruceros .card-Hotel .card-indihotel-1 img, .principal-cruceros .card-Hotel .card-indihotel-2 img, .principal-cruceros .card-Hotel .card-indihotel-3 img {
    width: 100px;
    height: 100px;
  }
  .principal-cruceros .card-viajes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
    justify-self: center;
  }
  .principal-cruceros .card-viajes div {
    margin: 0.5rem;
    padding: 0.2rem;
    width: 320px;
    height: 300px;
  }
  .principal-cruceros .card-viajes div img {
    width: 150px;
    height: 150px;
    margin-top: 0.5rem;
  }
  .principal-cruceros .card-viajes div h2 {
    font-size: 16px;
    margin: 1rem;
  }
  .principal-cruceros .card-viajes div p {
    font-size: 14px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .principal-cruceros .titulo-ofertas {
    font-size: 24px;
    font-weight: bolder;
  }
  .principal-cruceros .card-Hotel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .principal-cruceros .card-Hotel .card-indihotel-1, .principal-cruceros .card-Hotel .card-indihotel-2, .principal-cruceros .card-Hotel .card-indihotel-3 {
    width: 500px;
    height: 400px;
    font-size: 18px;
  }
  .principal-cruceros .card-Hotel .card-indihotel-1 img, .principal-cruceros .card-Hotel .card-indihotel-2 img, .principal-cruceros .card-Hotel .card-indihotel-3 img {
    width: 150px;
    height: 200px;
    margin-top: 0.5rem;
  }
  .principal-cruceros .card-viajes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .principal-cruceros .card-viajes div {
    margin: 0.5rem;
    padding: 0.2rem;
    width: 310px;
    height: 350px;
  }
  .principal-cruceros .card-viajes div img {
    width: 150px;
    height: 150px;
    margin-top: 0.5rem;
  }
  .principal-cruceros .card-viajes div h2 {
    font-size: 18px;
    margin: 1rem;
  }
  .principal-cruceros .card-viajes div p {
    font-size: 16px;
  }
}

.pag-paq .principal-paq {
  display: grid;
  grid-template-columns: repeat(3, 380px);
  gap: 1.5rem;
  grid-template-areas: "titulo titulo titulo" "miami cusco madrid" "barce bali australia";
  justify-self: center;
}
.pag-paq .principal-paq .titulo-card-paq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 2rem;
  width: 400px;
  height: fit-content;
  border: 1px solid rgb(204, 170, 170);
  border-radius: 20px;
  box-shadow: 0px 0px 30px rgb(248, 248, 248);
  text-align: center;
  background-color: bisque;
  color: black;
  justify-self: center;
  grid-area: titulo;
  grid-column: 2/3;
}
.pag-paq .principal-paq .card-paq1, .pag-paq .principal-paq .card-paq6, .pag-paq .principal-paq .card-paq5, .pag-paq .principal-paq .card-paq4, .pag-paq .principal-paq .card-paq3, .pag-paq .principal-paq .card-paq2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(204, 170, 170);
  border-radius: 20px;
  box-shadow: 0px 0px 30px rgb(248, 248, 248);
  width: 400px;
  height: 480px;
  text-align: center;
  padding: 2rem;
  color: white;
  grid-area: miami;
  /*transiciones*/
  transition: transform 0.2s ease-in;
}
.pag-paq .principal-paq .card-paq1:hover, .pag-paq .principal-paq .card-paq6:hover, .pag-paq .principal-paq .card-paq5:hover, .pag-paq .principal-paq .card-paq4:hover, .pag-paq .principal-paq .card-paq3:hover, .pag-paq .principal-paq .card-paq2:hover {
  transform: scale(0.9);
}
.pag-paq .principal-paq .card-paq2 {
  grid-area: cusco;
}
.pag-paq .principal-paq .card-paq2:hover {
  transform: scale(0.9);
}
.pag-paq .principal-paq .card-paq3 {
  grid-area: madrid;
}
.pag-paq .principal-paq .card-paq3:hover {
  transform: scale(0.9);
}
.pag-paq .principal-paq .card-paq4 {
  grid-area: barce;
}
.pag-paq .principal-paq .card-paq4:hover {
  transform: scale(0.9);
}
.pag-paq .principal-paq .card-paq5 {
  grid-area: bali;
}
.pag-paq .principal-paq .card-paq5:hover {
  transform: scale(0.9);
}
.pag-paq .principal-paq .card-paq6 {
  grid-area: australia;
}
.pag-paq .principal-paq .card-paq6:hover {
  transform: scale(0.9);
}
.pag-paq .paq-cruceros {
  display: grid;
  grid-template-columns: repeat(3, 380px);
  grid-template-areas: "titulo2 titulo2 titulo2" "larga2 miami2 alaska2";
  gap: 1rem;
  justify-self: center;
}
.pag-paq .paq-cruceros .titulo-crucero-paq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: fit-content;
  margin: 3rem;
  padding: 2rem;
  border: 1px solid rgb(204, 170, 170);
  border-radius: 20px;
  box-shadow: 0px 0px 30px rgb(248, 248, 248);
  background-color: bisque;
  color: black;
  text-align: center;
  grid-area: titulo2;
  grid-column: 2/3;
  justify-self: center;
}
.pag-paq .paq-cruceros img {
  width: 250px;
  height: 250px;
}
.pag-paq .paq-cruceros .card-paq-cruceros1, .pag-paq .paq-cruceros .card-paq-cruceros3, .pag-paq .paq-cruceros .card-paq-cruceros2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(204, 170, 170);
  border-radius: 20px;
  box-shadow: 0px 0px 30px rgb(248, 248, 248);
  width: 90%;
  height: 500px;
  margin: 1.5rem;
  padding: 0.5rem;
  text-align: center;
  color: white;
  grid-area: larga2;
  /*transiciones*/
  transition: transform 0.2s ease-in;
}
.pag-paq .paq-cruceros .card-paq-cruceros1:hover, .pag-paq .paq-cruceros .card-paq-cruceros3:hover, .pag-paq .paq-cruceros .card-paq-cruceros2:hover {
  transform: scale(1.1);
}
.pag-paq .paq-cruceros .card-paq-cruceros2 {
  grid-area: miami2;
}
.pag-paq .paq-cruceros .card-paq-cruceros2:hover {
  transform: scale(1.1);
}
.pag-paq .paq-cruceros .card-paq-cruceros3 {
  grid-area: alaska2;
}
.pag-paq .paq-cruceros .card-paq-cruceros3:hover {
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .pag-paq .principal-paq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pag-paq .principal-paq .titulo-card-paq {
    margin: 1rem;
    padding: 2rem;
    width: 200px;
    height: 200px;
  }
  .pag-paq .principal-paq .titulo-card-paq h1 {
    font-size: 16px;
  }
  .pag-paq .principal-paq .titulo-card-paq p {
    font-size: 14px;
  }
  .pag-paq .principal-paq .card-paq1, .pag-paq .principal-paq .card-paq2, .pag-paq .principal-paq .card-paq3, .pag-paq .principal-paq .card-paq4, .pag-paq .principal-paq .card-paq5, .pag-paq .principal-paq .card-paq6 {
    width: 350px;
    height: 350px;
  }
  .pag-paq .principal-paq .card-paq1 h3, .pag-paq .principal-paq .card-paq2 h3, .pag-paq .principal-paq .card-paq3 h3, .pag-paq .principal-paq .card-paq4 h3, .pag-paq .principal-paq .card-paq5 h3, .pag-paq .principal-paq .card-paq6 h3 {
    font-size: 16px;
  }
  .pag-paq .principal-paq .card-paq1 p, .pag-paq .principal-paq .card-paq2 p, .pag-paq .principal-paq .card-paq3 p, .pag-paq .principal-paq .card-paq4 p, .pag-paq .principal-paq .card-paq5 p, .pag-paq .principal-paq .card-paq6 p {
    font-size: 14px;
  }
  .pag-paq .principal-paq .card-paq1 img, .pag-paq .principal-paq .card-paq2 img, .pag-paq .principal-paq .card-paq3 img, .pag-paq .principal-paq .card-paq4 img, .pag-paq .principal-paq .card-paq5 img, .pag-paq .principal-paq .card-paq6 img {
    width: 180px;
    height: 180px;
  }
  .pag-paq .paq-cruceros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pag-paq .paq-cruceros .titulo-crucero-paq {
    margin: 1rem;
    padding: 2rem;
    width: 200px;
    height: 200px;
  }
  .pag-paq .paq-cruceros .titulo-crucero-paq h3 {
    font-size: 16px;
  }
  .pag-paq .paq-cruceros .titulo-crucero-paq p {
    font-size: 14px;
  }
  .pag-paq .paq-cruceros .card-paq-cruceros1, .pag-paq .paq-cruceros .card-paq-cruceros2, .pag-paq .paq-cruceros .card-paq-cruceros3 {
    width: 350px;
    height: 350px;
    margin: 1.5rem;
    padding: 0.5rem;
  }
  .pag-paq .paq-cruceros .card-paq-cruceros1 h3, .pag-paq .paq-cruceros .card-paq-cruceros2 h3, .pag-paq .paq-cruceros .card-paq-cruceros3 h3 {
    font-size: 16px;
  }
  .pag-paq .paq-cruceros .card-paq-cruceros1 p, .pag-paq .paq-cruceros .card-paq-cruceros2 p, .pag-paq .paq-cruceros .card-paq-cruceros3 p {
    font-size: 14px;
  }
  .pag-paq .paq-cruceros .card-paq-cruceros1 img, .pag-paq .paq-cruceros .card-paq-cruceros2 img, .pag-paq .paq-cruceros .card-paq-cruceros3 img {
    width: 150px;
    height: 150px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .pag-paq .principal-paq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .pag-paq .principal-paq .titulo-card-paq {
    margin: 1rem;
    padding: 2rem;
    width: 300px;
    height: 300px;
  }
  .pag-paq .principal-paq .titulo-card-paq h1 {
    font-size: 18px;
    margin: 0.5rem;
  }
  .pag-paq .principal-paq .card-paq1, .pag-paq .principal-paq .card-paq2, .pag-paq .principal-paq .card-paq3, .pag-paq .principal-paq .card-paq4, .pag-paq .principal-paq .card-paq5, .pag-paq .principal-paq .card-paq6 {
    width: 390px;
    height: 390px;
  }
  .pag-paq .principal-paq .card-paq1 h3, .pag-paq .principal-paq .card-paq2 h3, .pag-paq .principal-paq .card-paq3 h3, .pag-paq .principal-paq .card-paq4 h3, .pag-paq .principal-paq .card-paq5 h3, .pag-paq .principal-paq .card-paq6 h3 {
    font-size: 18px;
  }
  .pag-paq .principal-paq .card-paq1 p, .pag-paq .principal-paq .card-paq2 p, .pag-paq .principal-paq .card-paq3 p, .pag-paq .principal-paq .card-paq4 p, .pag-paq .principal-paq .card-paq5 p, .pag-paq .principal-paq .card-paq6 p {
    font-size: 16px;
  }
  .pag-paq .principal-paq .card-paq1 img, .pag-paq .principal-paq .card-paq2 img, .pag-paq .principal-paq .card-paq3 img, .pag-paq .principal-paq .card-paq4 img, .pag-paq .principal-paq .card-paq5 img, .pag-paq .principal-paq .card-paq6 img {
    width: 250px;
    height: 250px;
  }
  .pag-paq .paq-cruceros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .pag-paq .paq-cruceros .titulo-crucero-paq {
    margin: 1rem;
    padding: 2rem;
    width: 300px;
    height: 200px;
  }
  .pag-paq .paq-cruceros .titulo-crucero-paq h3 {
    font-size: 18px;
  }
  .pag-paq .paq-cruceros .titulo-crucero-paq p {
    font-size: 16px;
  }
  .pag-paq .paq-cruceros .card-paq-cruceros1, .pag-paq .paq-cruceros .card-paq-cruceros2, .pag-paq .paq-cruceros .card-paq-cruceros3 {
    width: 300px;
    height: 300px;
    margin: 0.5rem;
    padding: 0.5rem;
  }
  .pag-paq .paq-cruceros .card-paq-cruceros1 h3, .pag-paq .paq-cruceros .card-paq-cruceros2 h3, .pag-paq .paq-cruceros .card-paq-cruceros3 h3 {
    font-size: 16px;
  }
  .pag-paq .paq-cruceros .card-paq-cruceros1 p, .pag-paq .paq-cruceros .card-paq-cruceros2 p, .pag-paq .paq-cruceros .card-paq-cruceros3 p {
    font-size: 16px;
  }
  .pag-paq .paq-cruceros .card-paq-cruceros1 img, .pag-paq .paq-cruceros .card-paq-cruceros2 img, .pag-paq .paq-cruceros .card-paq-cruceros3 img {
    width: 150px;
    height: 150px;
  }
}

.cruceros-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.cruceros-principal .img-cruceros {
  width: 250px;
  height: 250px;
}
.cruceros-principal .titulo-cruceros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bolder;
  text-align: center;
}
.cruceros-principal .card-cruceros {
  display: grid;
  grid-template-columns: repeat(3, 380px);
  gap: 1rem;
}
.cruceros-principal .card-cruceros .card-individual {
  border: 1px solid rgb(204, 170, 170);
  border-radius: 20px;
  box-shadow: 0px 0px 30px rgb(248, 248, 248);
  margin: 30px;
  padding: 30px;
  font-weight: bold;
  margin-top: 2rem;
  text-align: center;
  color: white;
  /*transiciones*/
  transition: transform 0.2s ease-in;
}
.cruceros-principal .card-cruceros .card-individual p {
  margin: 1rem;
}
.cruceros-principal .card-cruceros .card-individual:hover {
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .cruceros-principal .img-cruceros {
    width: 200px;
    height: 200px;
  }
  .cruceros-principal .titulo-cruceros {
    font-size: 18px;
    font-weight: 400;
  }
  .cruceros-principal .card-cruceros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cruceros-principal .card-cruceros .card-individual {
    font-weight: 300;
  }
  .cruceros-principal .card-cruceros .card-individual h3 {
    font-size: 16px;
  }
  .cruceros-principal .card-cruceros .card-individual p {
    font-size: 14px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .cruceros-principal .img-cruceros {
    width: 300px;
    height: 300px;
  }
  .cruceros-principal .titulo-cruceros {
    font-size: 24px;
    font-weight: 600;
  }
  .cruceros-principal .card-cruceros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .cruceros-principal .card-cruceros .card-individual {
    width: min-content;
    height: max-content;
    font-weight: 500;
  }
  .cruceros-principal .card-cruceros .card-individual h3 {
    font-size: 18px;
  }
  .cruceros-principal .card-cruceros .card-individual p {
    font-size: 16px;
  }
}

.main-nosotros .principal-nos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 2fr;
  grid-template-areas: "titulo-nos titulo-nos titulo-nos " "card-nos1 card-nos2 card-nos3";
  justify-self: center;
  margin-bottom: 3rem;
  gap: 3rem;
}
.main-nosotros .titulo-nos {
  border: 1px solid rgb(204, 170, 170);
  border-radius: 20px;
  box-shadow: 0px 0px 30px rgb(248, 248, 248);
  width: 350px;
  height: fit-content;
  margin: 3rem;
  padding: 2rem;
  text-align: center;
  justify-self: center;
  background-color: black;
  color: white;
  grid-area: titulo-nos;
}
.main-nosotros .card-staff-1, .main-nosotros .card-staff-3, .main-nosotros .card-staff-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(204, 170, 170);
  border-radius: 20px;
  box-shadow: 0px 0px 30px rgb(248, 248, 248);
  margin: 0.5rem;
  padding: 2rem;
  color: white;
  width: 350px;
  gap: 1rem;
  text-align: center;
  grid-area: card-nos1;
  /*transiciones*/
  transition: transform 0.2s ease-in;
}
.main-nosotros .card-staff-2 {
  grid-area: card-nos2;
}
.main-nosotros .card-staff-3 {
  grid-area: card-nos3;
}
.main-nosotros .card-staff-1:hover, .main-nosotros .card-staff-2:hover, .main-nosotros .card-staff-3:hover {
  transform: scale(1.1);
}
.main-nosotros .card-staff-2:hover {
  transform: scale(1.1);
}
.main-nosotros .card-staff-3:hover {
  transform: scale(1.1);
}
.main-nosotros .formulario-mio {
  margin-top: 2rem;
  border: 1px solid rgb(204, 170, 170);
  border-radius: 20px;
  box-shadow: 0px 0px 30px rgb(248, 248, 248);
  margin: 1rem;
  padding: 3rem;
  width: 450px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: none;
  color: white;
  justify-self: center;
}
.main-nosotros .formulario-mio h3 {
  text-align: center;
  margin: 2rem;
}
.main-nosotros .formulario-mio .btn-formularios {
  border: 1px solid rgb(204, 170, 170);
  border-radius: 20px;
  box-shadow: 0px 0px 30px rgb(248, 248, 248);
  margin: 0.5rem;
  padding: 0.5rem;
  justify-self: center;
}
@media (max-width: 768px) {
  .main-nosotros .principal-nos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    margin: 0 auto;
  }
  .main-nosotros .principal-nos h2 {
    font-size: 18px;
    font-weight: 800;
  }
  .main-nosotros .principal-nos h3, .main-nosotros .principal-nos h5, .main-nosotros .principal-nos p {
    font-size: 14px;
    font-weight: 300;
  }
  .main-nosotros .principal-nos .card-staff-1, .main-nosotros .principal-nos .card-staff-2, .main-nosotros .principal-nos .card-staff-3 {
    width: 320px;
    gap: 0.5rem;
  }
  .main-nosotros .formulario-mio {
    margin: 1rem;
    padding: 2rem;
    width: 320px;
    font-size: small;
    font-weight: 400;
  }
  .main-nosotros .formulario-mio .btn-vuelo, .main-nosotros .formulario-mio .btn-formularios {
    font-size: small;
    font-weight: 400;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .main-nosotros .principal-nos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    margin: 0 auto;
  }
  .main-nosotros .principal-nos h2 {
    font-size: 24px;
    font-weight: 800;
  }
  .main-nosotros .principal-nos h3, .main-nosotros .principal-nos h5, .main-nosotros .principal-nos p {
    font-size: 16px;
    font-weight: 300;
  }
  .main-nosotros .principal-nos .card-staff-1, .main-nosotros .principal-nos .card-staff-2, .main-nosotros .principal-nos .card-staff-3 {
    width: 400px;
    gap: 1rem;
  }
  .main-nosotros .formulario-mio {
    margin: 1rem;
    padding: 2rem;
    font-size: 16px;
    font-weight: 400;
  }
  .main-nosotros .formulario-mio .btn-vuelo, .main-nosotros .formulario-mio .btn-formularios {
    font-size: 16px;
    font-weight: 400;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  margin-top: 4rem;
  gap: 2rem;
}
footer .logo-fb {
  width: 40px;
  height: 40px;
}
footer .footer-icono {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
footer .footer-icono a {
  text-decoration: none;
  color: aliceblue;
}
footer .derechos {
  margin-top: 2rem;
}
@media (max-width: 768px) {
  footer h3, footer a {
    font-size: 16px;
  }
  footer .derechos h4 {
    font-size: 14px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  footer h3, footer a {
    font-size: 18px;
  }
  footer .derechos h4 {
    font-size: 16px;
  }
}

/*# sourceMappingURL=estilos.css.map */
