// tamaños de la diferentes imagenes//
.logo-agencia{
    width: 120px;
    height: 120px;
    
    
}
.img-principal{
    width: 300px;
    height: 300px;
    
}
.logo-fb{
    width: 35px;
    height: 35px;
}
.logo-insta{
    width: 35px;
    height: 35px;
}
.logo-X{
    width: 35px;
    height: 35px;
}