*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    background-color: rgb(5, 5, 5);
    color: aliceblue;

}
.footer {
    color: aliceblue;
    grid-area: footer;
}
.principal{
    grid-area: principal;
}
.logo-agencia{
    width: 120px;
    height: 120px;
    
    
}
.img-principal{
    width: 350px;
    height: 350px;
    
}
.logo-fb{
    width: 35px;
    height: 35px;
}
.logo-insta{
    width: 35px;
    height: 35px;
}
.logo-X{
    width: 35px;
    height: 35px;
}
.navbar-mio{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    border-bottom: 1px solid white;

}
.container-mio {
    list-style: none;
    background-color: aliceblue;
    color: black;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 25px;
    padding: 15px;
}
.nav-mio{
   
   
    width:auto;
    
    color: black;
    display: flex;
    justify-content: center;
    
}
.navegador-mio{
    
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
    text-decoration: none;
    justify-items: center;
    border: 1px solid white;
    border-radius: 20px;
    background-color: bisque;
    
    

}
.navegador-mio li{
    align-self: center;
    font-weight: bold;
    font-size: larger;
    margin: 1rem;
    padding: 0.5rem;
    align-items: center;
    justify-content: space-between;
    /*background-color: rgb(231, 226, 226);*/
    border: 1px solid black;
    border-radius: 20px;
}
.pag-selec{
    background-color: black;
    color: rgb(238, 229, 229);
    
   
}
/**Aca empiezo a darle movimiento a mis contenedores, y ubicarlos como me gustaria/*/
/**header{
    
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows:1fr 120px;
    grid-template-areas: 
                        "link link link link link"
                        "nav nav nav nav nav";
}
.encabezado{

   grid-area: link;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
}
.encabezado a{
    list-style: none;
    background-color: aliceblue;
    color: black;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 25px;
    padding: 15px;
}
.navegador li{
    text-decoration: none;
    list-style: none;
    
}
.navegador li a{
    display: flex;
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    padding: 15px;
}
.navegador{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}/**
.navbar{
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    padding: 20px;
    margin: 10px 0;
    grid-area: nav;
    
    
}*/
/*EMPEZAMOS DANDO ESTILOS A LA PARTE PRINCIPAL DEL INDEX*/
/*.conteiner{
    display: grid;
    grid-template-rows: 120px repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: "titulo-res titulo-res titulo-res"
                         "buscador buscador buscador"
                         "section section section";

}*/

   

h2{

    justify-content: center;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
}
.buscador-vuelos ul{
    list-style-type: none;
}
.card-vuelo{
    justify-self: center;
    margin-bottom: 2rem;
}
.buscador-vuelos{
    grid-area: buscador;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    padding: 2rem;
    width: auto;
    height: 50%;
    background-color: rgb(43, 43, 56);
    margin: 2rem ;
    border: 2px solid white;
    border-radius: 20px;
    font-size: large;
    
   
    
    /**
    text-align: center;*//
    
}
.buscador-vuelos label{
    width: 150px;
    height: 20px;
    display: inline-block;
    
    
    
}
.buscador-vuelos input{
    width: 250px;
    height: 20px;
    display: inline-block;
   
    
}
.btn-vuelo{
    
    margin-top: 2rem;
    margin-left: 40%;
    color: rgb(240, 234, 234);
    background-color: black;
    padding: 0.5rem;
    border: 2px solid rgba(121, 111, 111, 0.678);
    border-radius: 20px;
}
/** aca empiezo a trabajar con el centro de mi pagina principal*/








.titulo-reseña{
    grid-area: titulo-res;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 4rem;
    margin-top: 4rem;
    grid-area: titulo;
}




.section{
    grid-area: section;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}
.principal-1{
    grid-area: principal-1;
    box-shadow: 0px 0px 30px rgb(235, 222, 222, 0.8);
    align-items: center;
    justify-items: center;
    padding: 2rem 2rem;
    font-weight: 800;
    border: 1px solid white;
    border-radius: 20px ;
    text-align: center;
}
.principal-2{
    grid-area: principal-2;
    box-shadow: 0px 0px 30px rgb(235, 222, 222, 0.8);
    align-items: center;
    justify-items: center;
    padding:2rem 2rem;
    font-weight: 800;
    border: 1px solid white;
    border-radius: 20px ;
    text-align: center;
    
}
.principal-3{
    grid-area: principal-3;
    box-shadow: 0px 0px 30px rgb(235, 222, 222, 0.8);
    align-items: center;
    justify-items: center;
    padding: 2rem 2rem;
    font-weight: 800;
    border: 1px solid white;
    border-radius: 20px ;
    text-align: center;
}
/** ACA EMPEZAMOS AL TRABAJAR EL FOOTER**/

footer{
    display:flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    margin-top: 4rem;
    gap: 2rem;
   
}
.derechos{
    margin: 2rem;
}

.footer-icono a{
    text-decoration: none;
    color: #ffffff;
      
}






/** ACA DAMOS ESTILOS A PAG DE CRUCEROS**/
.img-cruceros{
    height: 300px;
    width: 300px;
}
.cruceros-principal{
    display: grid;
}
.titulo-cruceros{
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}
.card-individual h3,p{
    padding: 1rem;
}
.card-individual{
    
    border: 2px solid white;
    border-radius: 20px;
    min-height: 100px;
    font-weight: bold;
    padding: 30px;
    margin: 20px;
    margin-top: 2rem;
    position: relative;
    overflow: hidden;
    background-size: cover;
    text-align: center;
    box-shadow: 0px 0px 30px rgb(235, 222, 222, 0.8);
      
}
.card-cruceros{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    
    
}
/** ACA DAMOS CLASES A LA PAG OFERTAS**/
.img-HV{
    width: 250px;
    height: 200px;
    margin-top: 4rem;
}

.card-Hotel{
    display: grid;
    width: 90%;
    height: auto;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: "card1 card1 "
                         "card2 card2 " 
                         "card3 card3 ";
    gap: 1rem;
    margin-top: 3rem;
    
}
.card-Hotel h4, p{
    font-size: large;
    margin-top: 1rem;
    text-align: center;
    
}
.card-indihotel-1{
    grid-area: card1;
    grid-column-start: 1/3 ;
    grid-row: 1/3;
    height: 500px;
    width: 900px;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgb(235, 222, 222, 0.8);
    text-align: center;
    justify-content: center;
}
.card-indihotel-2{
    grid-area: card2;
    grid-column: 2/4;
    grid-row: 2/4;
    height: 500px;
    width: 900px;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgb(235, 222, 222, 0.8);
    text-align: center;

}
.card-indihotel-3{
    grid-area: card3;
    grid-column: 1/3;
    grid-row: 3/3;
    height: 500px;
    width: 900px;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgb(235, 222, 222, 0.8);
    text-align: center;

}
.card-viajes{
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    justify-content: space-evenly;
    align-items: center;
    border: 4px solid white ;
    border-radius: 20px;
}
.card-lugares{
    background-color: rgb(3, 3, 3);
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgb(235, 222, 222, 0.8);
    height: 420px;
    width: 370px;
    margin: 2rem;
    text-align: center;
}
.card-luagres h2,p{
    font-size: large;
    margin-top: 1rem;
    
}
/*ACA EMPEZAMOS A DARLE ESTILOS A LA PAG PAQUETES*/
.principal-paq{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /*grid-template-rows: repeat(3,1fr);*/
    gap: 2rem;
    grid-template-areas: "titulo titulo titulo"
                          "miami cusco madrid"
                          "barce bali australia";
}
.titulo-card-paq{
    grid-area: titulo;
    grid-column: 2/3;
    height: fit-content;
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgba(102, 92, 92, 0.8);
    width: 500px;
    padding: 2rem;
    margin: 3rem;
    background-color: antiquewhite;
    color: black;
    

}
.card-paq1{
    grid-area: miami;
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgb(235, 222, 222, 0.8);
    
    padding: 2rem;
}
.card-paq2{
    grid-area: cusco;
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgb(235, 222, 222, 0.8);
    
    padding: 2rem;
}
.card-paq3{
    grid-area: madrid;
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgb(235, 222, 222, 0.8);
    
    padding: 2rem;
}
.card-paq4{
    grid-area: barce;
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgb(235, 222, 222, 0.8);
    
    padding: 2rem;
}.card-paq5{
    grid-area: bali;
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgb(235, 222, 222, 0.8);
   
    padding: 2rem;
}.card-paq6{
    grid-area: australia;
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgb(235, 222, 222, 0.8);
    
    padding: 2rem;
}
.img-principal-alaska{
    width: 350px;
    height: 350px;
}
.img-principal-miami{
    width: 350px;
    height: 350px;
}
.paq-cruceros{

    display: grid;
    grid-template-areas: "titulo2 titulo2 titulo2"
                          "larga2 miami2 alaska2";
}
.titulo-crucero-paq{
    grid-area: titulo2;
    grid-column: 2/3;
    height: fit-content;
    text-align: center;
    border: 2px solid rgb(90, 42, 42);
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgba(85, 77, 77, 0.8);
    width: 400px;
    margin-top: 3rem;
    padding: 2rem;
    margin: 3rem;
    background-color: antiquewhite;
    color: black;
}
.card-paq-cruceros1{
    grid-area: larga2;
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgb(235, 222, 222, 0.8);
    width: 500px;
    padding: 2rem;

}
.card-paq-cruceros2{
    grid-area: miami2;
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgb(235, 222, 222, 0.8);
    width: 500px;
    padding: 2rem;

}
.card-paq-cruceros3{
    grid-area: alaska2;
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgb(235, 222, 222, 0.8);
    width: 500px;
    padding: 2rem;

}
/** estilos de pagina nosotros**/
.principal-nos{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "titulo-nos titulo-nos titulo-nos "
                          "card-nos1 card-nos2 card-nos3"
                          "texto     texto   texto";
    margin: 3rem;
    gap: 1rem;

}
.titulo-nos{
    grid-area: titulo-nos;
    justify-self: center;
    height: fit-content;
    text-align: center;
    border: 2px solid rgb(37, 32, 32);
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgba(175, 62, 62, 0.8);
    width: 300px;
    padding: 2rem;
    margin: 3rem;
    background-color: rgb(240, 139, 7);
    color: rgb(27, 25, 25);
}
.card-staff-1{
    width: 85%;
    grid-area: card-nos1;
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgb(235, 222, 222, 0.8);
    width: 350px;
    padding: 2rem;
    
}
.card-staff-2{
    width: 85%;
    grid-area: card-nos2;
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgb(235, 222, 222, 0.8);
    width: 350px;
    padding: 2rem;
}
.card-staff-3{
    width: 85%;
    grid-area: card-nos3;
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0px 0px 30px rgb(235, 222, 222, 0.8);
    width: 350px;
    padding: 2rem;
}



/**Trabajando con mediaquerys*/
@media (max-width: 478px){
    header{
        width: 100%;
    }
    .encabezado{
        
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    figure{
        width: auto;
        justify-content: center;
    }
    .encabezado a{
        font-size: 14px;
        width: auto;
        padding: 8px;
    }
    .navegador{
        width: 100%;
       
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
    }
    .navegador a{
        font-size: 13px;
        width: auto;
    }
    .section{
     
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .principal-1,.principal-2,.principal-3{
        font-size: medium;
        justify-self: center;
        align-items: center;


    }
    /**Aca usamos mediaquerys para la pag ofertas*/
    .principal-cruceros{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card-Hotel{
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;


    }
    .card-indihotel-1, .card-indihotel-2,.card-indihotel-3{
        width: auto;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
        padding: 2rem;
    }
    .img-HV{
        width: 150px;
        height: 150px;
    }
    .card-viajes{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .card-lugares{
        width: auto;
        height: fit-content;
        padding-bottom: 2rem;

    }
    /**aca usamos mediasquerys en pag paquetes*/
    .principal-paq{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
    .paq-cruceros{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
    /*ACA usamos mediaquerys en la pag cruceros*/
    .cruceros-principal{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card-cruceros{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
    /*Usan mediaquerys en pag nosotros*/
    .principal-nos{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card-staff-1,.card-staff-2,.card-staff-3{
        width: 55%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

    }

}
@media (min-width: 479px) and (max-width:780px){
    .encabezado{
        
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    figure{
        width: auto;
        justify-content: center;
    }
    .encabezado a{
        font-size: 16px;
        width: auto;
        padding: 10px;
    }
    .navegador{
        width: 100%;
       
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
    }
    .navegador a{
        font-size: 13px;
        width: auto;
    }
        
    .section{
        
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .img-principal{
        width:100%;
        
    }
    .principal-1,.principal-2,.principal-3{
        font-size: medium;
        justify-self: center;
        margin:2rem;
       /* width: 40%;*/
        text-align: center;
    }
    
        /**Aca usamos mediaquerys para la pag ofertas*/
    .principal-cruceros{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card-Hotel{
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .card-indihotel-1,.card-indihotel-2,.card-indihotel-3{
        width: auto;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
        padding: 2rem;
    }
    .img-HV{
        width: 200px;
        height: 200px;
    }
    .card-viajes{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .card-lugares{
        width: auto;
        height: fit-content;
        padding-bottom: 2rem;
    }
    /**aca usamos mediasquerys en pag paquetes*/
    .principal-paq{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
    .paq-cruceros{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
    /*ACA usamos mediaquerys en la pag cruceros*/
    .cruceros-principal{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card-cruceros{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
    /*Usan mediaquerys en pag nosotros*/
    .principal-nos{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card-staff-1,.card-staff-2,.card-staff-3{
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}
@media (min-width:781px)and (max-width:1300px)
{
    .encabezado{
    
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    figure{
        width: auto;
        justify-content: center;
    }
    .encabezado a{
        font-size: 16px;
        width: auto;
        padding: 10px;
    }
    .navegador{
        width: 100%;
       
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
    }
    .navegador a{
        font-size: 13px;
        width: auto;
    }
        
    .section{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;

    }
    .img-principal{
        width:100%;

    }
    .principal-1,.principal-2,.principal-3{
        font-size: medium;
        justify-self: center;
        margin:2rem;
       
        width: 50%;
        text-align: center;
    }
        /**Aca usamos mediaquerys para ofertas*/
    .principal-cruceros{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card-Hotel{
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .card-indihotel-1,.card-indihotel-2,.card-indihotel-3{
        width: auto;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
        padding: 2rem;
    }
    .img-HV{
        width: 320px;
        height: 250px;
    }
    .card-viajes{
        display: flex;
        width: 70%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card-lugares{
        width: auto;
        height: fit-content;
        padding-bottom: 2rem;
    }
    /**aca usamos mediasquerys en pag paquetes*/
    .principal-paq{
        display: flex;
        width: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
    .paq-cruceros{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
    .card-paq-cruceros1,.card-paq-cruceros2,.card-paq-cruceros2{
        width:85%;
    }
    .card-paq1,.card-paq2,.card-paq3,.card-paq4,.card-paq5,.card-paq6{
        width: 85%;
    }
    /*ACA usamos mediaquerys en la pag cruceros*/
    .cruceros-principal{
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card-cruceros{
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
    /*Usan mediaquerys en pag nosotros*/
    .principal-nos{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card-staff-1,.card-staff-2,.card-staff-3{
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}









